#homepg {
  position: absolute; 
  top: 0; 
  left: 0; 
  
  object-fit: cover;

  /* Preserve aspect ratio */
  max-width: 100%;
  max-height: 100%;
}

body{
    
    height: 100%;
    width: 100%;
    background-position: center;
    margin: 0;
    font-family: "Avenir", "Montserrat";
}

#news {
    text-align: center;
}


.poop_img {

    width: 30%;
    height: 30px;
    margin: 1.66%;
    /*background: purple;*/
    float: left;
    padding-bottom: 30%;
    border-radius: 15%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

#submit_button {
    border: none;
    height: 100%;
    background: steelblue;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-weight: 700;
    font-size: inherit;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    outline: none;

}

#welcome {
    text-align: center;
}

