/*#homepg {
  position: absolute;  
  background-size: 100% auto;
  object-fit: cover;

}*/

.background {
    background-image: url("homepage.jpg");
    background-size: cover;
    height: 100%;
}

html {
    overflow-y: hidden; 
}


body, html{
    
    height: 100%;
    /*width: 100%;*/
    /*background-position: center;*/
    margin: 0;
    font-family: "Avenir", "Montserrat";
}

#news {
    text-align: center;
    color: white;
}

#title {
    color: white;
    font-family: "Avenir", "Montserrat";
}


.poop_img {

    width: 30%;
    height: 15px;
    margin: 1.66%;
    /*background: purple;*/
    float: left;
    padding-bottom: 30%;
    border-radius: 15%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

#submit_button {
    border: none;
    height: 100%;
    background: steelblue;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-weight: 700;
    font-size: inherit;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    outline: none;

}

#welcome {
    text-align: center;
}

