/*#homepg {
  position: absolute;  
  background-size: 100% auto;
  object-fit: cover;

}*/

html {
    /*overflow-y: hidden;*/
    font-family: "Avenir", "Montserrat"; 
}


body, html{
    
    height: 100%;
    /*width: 100%;*/
    /*background-position: center;*/
    margin: 0;
    font-family: "Avenir", "Montserrat";
}


#signUpBtn {
    text-align: center;
    padding: 5px 5px;
    margin-top: 10%;
}

#loginBtn {
    text-align: center;
    padding: 5px 5px;
    margin-top: 1px;
}

#submitLogin {
    text-align: center;
    margin-top: 8px;
}


#logoutBtn {
    margin-left: 90%;
    margin-top: 1%;
    
}

#submitFormBtn {

}

#inputUsername {
    text-align: center;
    padding: 8px 15px; 
    margin-top: 8%;
}

#inputPassword {
    text-align: center;

}

.registrationInput {
    text-align: center;
    padding: 4px 15px;
}

#registrationForm {

}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
    display: inline;
    color: white;
    font-family: "Avenir", "Montserrat";
    margin-left: 47%;
    margin-top: 20%;

}

h2#createAccountHeader {
    display: inline;
    color: white;
}

h3  {
    text-align: center;
    font-family: "Avenir", "Montserrat";
}

.background {
    background-image: url("homepage.jpg");
    background-size: cover;
    height: 100%;
}


#scrollingNews {
    text-align: center;
    color: white;
}

.appName {
    color: white;
    font-family: "Avenir", "Montserrat";
    margin-top: 20px;
    font-size: 40px;
}

#messageDisplay {
    font-size: 15px;
}


.poop_img {

    width: 30%;
    height: 15px;
    margin: 1.66%;
    text-align: center;
    float: left;
    padding-bottom: 30%;
    border-radius: 15%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

#submit_button {
    border: none;
    height: 100%;
    background: steelblue;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-weight: 700;
    font-size: inherit;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    outline: none;

}

.userGreeting {
    text-align: center;
    font-family: "Avenir", "Montserrat";
    font-size: 15px;
    margin-top: 8px;
}

form#submit_form {
    width: 60%;
    max-width: 1200px;
    margin: auto;
}

.poop_form.container {
    width: 100%;
}

