{% extends 'base.html' %}





{% block content %} 
<body class="homepage-bd">


<div id="headlines">
    <span id="messageDisplay"></span>
</div>

<h3>DUMP</h3>

<form action="/register">
    <input type="submit" name="Submit" value="Sign Me Up!">
</form>

<form action="/login">
    <input type="submit" name="Submit" value="Login">
</form>


<script>

let headlines = ["Colon and Rectal Cancer Rising in Young People -NYTimes", "Colon cancer screening should start earlier, American Cancer Society says",
                "Colon Cancer Screening: Not Just for the 50-Plus Set -Wall Street Journal", "Study: Obese Children Will Have 50% Higher Risk of Colon Cancer -The Atlantic", "For Reasons Unknown, Colon and Rectal Cancer Rates Are Rising In People Under 50 -Forbes"];
let delay = 3000;
let header = document.getElementById("messageDisplay");

headlines.forEach(function(messageDisplay, i) {
  setTimeout(function() {
    header.innerText = messageDisplay;
  }, delay * i);
});




// let showNews = setInterval(getHeadline(), 1000);

// function getHeadline(){
//     for (let i of headlines) {
//         document.getElementById("messageDisplay").innerHTML = i;
//     }

// };

</script>

{% endblock %}



