{% extends 'base.html' %}
{% block content %} 
    <div class="jumbotron jumbotron-fluid"> 
        <img class='img-responsive' id='homepg' src='homepage.jpg' alt="apples" margin="0">
    


<div id="news">
    <span id="messageDisplay"></span>
</div>

<h3>DUMP</h3>

<form action="/register">
    <!-- <input type="submit" name="Submit" value="Sign Me Up!"></li> -->
    <button class="btn btn-default btn-md"><i class="fa fa-user-plus" aria-hidden="true"></i>  Sign Me Up!</button>
</form>

<form action="/login">
    <!-- <input type="submit" name="Submit" value="Login" class="fa fa-user-plus" aria-hidden="true"> -->
    <button class="btn btn-default btn-md"><i class="fa fa-user" aria-hidden="true"></i> Login</button>
</form>


<script>

let headlines = ["Colon and Rectal Cancer Rising in Young People  -NYTimes", 
        "Colon cancer screening should start earlier, American Cancer Society says",
        "Exercise and Diet Can Help Lower Your Risk of Colon Cancer  -Washington Post",
        "Why Are More Young Americans Getting Colon Cancer?  -NPR",
        "Colon Cancer Screening: Not Just for the 50-Plus Set  -Wall Street Journal", 
        "How well do you know your shit?", 
        "Study: Obese Children Will Have 50% Higher Risk of Colon Cancer  -The Atlantic",
        "For Reasons Unknown, Colon and Rectal Cancer Rates Are Rising In People Under 50  -Forbes"];

let delay = 4000;
let header = document.getElementById("messageDisplay");

headlines.forEach(function(messageDisplay, i) {
  setTimeout(function() {
    header.innerText = messageDisplay;
  }, delay * i);
});

// setInterval(function() {
//       for (let i in headlines){
//         header.innerText = 
//       }
// }, 1000);


</script>

 

{% endblock %}
</div>


