{%  extends "base.html" %}

{% block content %}
<div class="background">

<!-- do not remove -->
<!-- will cause margin-top issue on background image -->
<!-- <h4></h4> -->
<h4></h4>
<h3 class="appName">H E A L T H Y   P O O P</h3>

<form action="/login", method="POST">
    <div id="inputUsername">
        <input type="text" name="Username" placeholder="Username" >
    </div>    
    
    <div id="inputPassword">
        <input type="password" name="Password" placeholder="Password">
    </div>

    <div id="submitLogin">
        <input  class="btn btn-default" type="submit" value="Login">
    </div>
</form>

</div>
{% endblock %}