{% extends "base.html" %}


{% block content %}
<div class="background">

<h2 id="createAccountHeader"> </h2>

<form action="/validate_registration" method="POST">
    
    <div id="registrationForm">
        <div id="registerFirstName" class="registrationInput">
            <input type="text" name="First" placeholder="First Name"required>
        </div>

        <div class="registrationInput">
            <input type="text" name="Last" placeholder="Last Name">
        </div>

        <div class="registrationInput">
            <input type="text" name="Username" placeholder="Username" required>
        </div>

        <div class="registrationInput">
            <input type="text" name="Password" placeholder="Password" required>
        </div>

        <div id="signUpBtn">
            <input class="btn btn-default btn-sm" type="submit" value="Sign Up">
        </div>
    </div>
</form>

</div>
{% endblock %}