{% extends "base.html" %}


{% block body %}
    
Welcome, {{ session['fname'] }}!
<hr> 
    
{% endblock %}


{% block content %}

<form action="/logout">
    <input type="submit" name="Submit" value="Logout">
</form>


<div id="submit_data">

<p>Enter Today's Data:</p>

<form action="/user_account" method="POST">

   <input type="radio" name="type" value="1">
    <img src="/static/poopimages/t1.jpg"> <br>
    

   <input type="radio" name="type" value="2">
    <img src="/static/poopimages/t2.jpg"> <br>
    

   <input type="radio" name="type" value="3">
    <img src="/static/poopimages/t3.jpg"> <br>
    

   <input type="radio" name="type" value="4">
    <img src="/static/poopimages/t4.jpg"> <br>
    

   <input type="radio" name="type" value="5">
    <img src="/static/poopimages/t5.jpg"> <br>
    

   <input type="radio" name="type" value="6">
    <img src="/static/poopimages/t6.jpg"> <br>
    

   <input type="radio" name="type" value="7">
    <img src="/static/poopimages/t7.jpg"> <br>
    


    <div>
        <p>Additional Comments:</p>
        <textarea id="comment" name="comment"></textarea>
    </div>
    
    <input type="submit" name="Submit">

</form>


</div>


<div id="display_data">

{% for event in user_events %}

<p> <i>Type Name: </i> {{ event.event_type.type_name }}  
    <i>Date: </i>{{ event.event_at }} 
    <i>Comment: </i>{{ event.comment }} </p>

{% endfor %}
 

</div>



{% endblock %}