{% extends "base.html" %}


{% block body %}
    
Welcome, {{ session['fname'] }}!
<hr> 
    
{% endblock %}


{% block content %}

<form action="/logout">
    <input type="submit" name="Submit" value="Logout">
</form>


<div id="submit_data">

<p>Enter Today's Data:</p>

<!-- this form submits data to db -->
<!-- server.py will get data from this form -->
<!-- and create new instance of event on Event table -->

<form id="submit_form" action="/user_account" method="POST">

  <div class="poop_img" id="t1">
   <h1>Type 1</h1>
   <input style="display: none" type="radio" name="type" value="1">
    <img style="display: none" src="/static/poopimages/t1.jpg">
  </div>  

  <div class="poop_img" id="t2">
    <h1>Type 2</h1>
   <input style="display: none" type="radio" name="type" value="2">
    <img style="display: none" src="/static/poopimages/t2.jpg">
  </div>  

  <div class="poop_img" id="t3">
    <h1>Type 3</h1>
   <input style="display: none" type="radio" name="type" value="3">
    <img style="display: none" src="/static/poopimages/t3.jpg">
  </div>  

  <div class="poop_img" id="t4">
    <h1>Type 4</h1>
   <input style="display: none" type="radio" name="type" value="4">
    <img style="display: none" src="/static/poopimages/t4.jpg">
  </div>  

  <div class="poop_img" id="t5">
    <h1>Type 5</h1>
   <input style="display: none" type="radio" name="type" value="5">
    <img style="display: none" src="/static/poopimages/t5.jpg">
  </div>  

  <div class="poop_img" id="t6">
    <h1>Type 6</h1>
   <input style="display: none" type="radio" name="type" value="6">
    <img style="display: none" src="/static/poopimages/t6.jpg">
  </div>  

  <div class="poop_img" id="t7">
    <h1>Type 7</h1>
   <input style="display: none" type="radio" name="type" value="7">
    <img style="display: none" src="/static/poopimages/t7.jpg">
  </div>  


    <div>
        <p>Additional Comments:</p>
        <textarea id="comment" name="comment"></textarea>
    </div>
    
    <input type="submit" name="Submit">

</form>


</div>


<div id="display_data">

<!-- user_events queries Events table -->
<!-- .all() on user_events returns list of objects -->
{% for event in user_events %}

<p> <i>Type Name: </i> {{ event.event_type.type_name }}  
    <!-- event.event_at will access formatting from -->
    <!-- server.py on /user_account route -->
    <i>Date: </i>{{ event.event_at }} 
    <i>Comment: </i>{{ event.comment }} </p>

{% endfor %}
 

</div><div class='container'>
<canvas id="myChart" width="600" height="400"></canvas>
<p id="caption">This chart is displaying your poop data.</p>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">

// do not resize chart canvas (keep at 600x400)
// Chart.defaults.global.responsive = false;
// make ajax call 

let ctx = document.getElementById('myChart').getContext('2d');


function displayChartResults(result){
    let myChart = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: 'Scatter Dataset',
            data: [{
                x: //{{ user_event_at }}
                y: //{{ user_type_id }}
            },  
            }]
        }]
    },
    options: {
        responsive: true;
        hoverMode: 'single',  //should always use single for scatter chart
        scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom'
            }]
        }
    }
});

    
}


function getUserData(evt){
    evt.preventDefault();

    let formInputs = {}  //grab from database instead

    // make post/ajax request, sending new poop entry to /new-entry
    // at callback function, make get/ajax request to get data.json
    // then at that callback from ajax, start parsin for graph/chart

    $.get("/data.json", formInputs, displayChartResults);
}

// event listener on form instead of button

$("#submit_form").on("submit", getUserData)
</script>

<script type="text/javascript" src="/static/user_account.js"></script>

{% endblock %}