{% extends "base.html" %}

{% block body %}
    
Welcome, {{ session['fname'] }}!  Have you pooped today?
<hr> 
    
{% endblock %}


{% block content %}

<form action="/logout">
    <input type="submit" name="Submit" value="Logout">
</form>


<div id="submit_data container">

<p>Enter Today's Data:</p>

<!-- this form submits data to db -->
<!-- server.py will get data from this form -->
<!-- and create new instance of event on Event table -->

<form id="submit_form container" action="/user_account" method="POST">

  <div class="poop_img" id="t1">
   <h1>Type 1</h1>
   <input style="display: none" type="radio" name="type" value="1">
    <img style="display: none" src="/static/poopimages/t1.jpg">
  </div>  

  <div class="poop_img" id="t2">
    <h1>Type 2</h1>
   <input style="display: none" type="radio" name="type" value="2">
    <img style="display: none" src="/static/poopimages/t2.jpg">
  </div>  

  <div class="poop_img" id="t3">
    <h1>Type 3</h1>
   <input style="display: none" type="radio" name="type" value="3">
    <img style="display: none" src="/static/poopimages/t3.jpg">
  </div>  

  <div class="poop_img" id="t4">
    <h1>Type 4</h1>
   <input style="display: none" type="radio" name="type" value="4">
    <img style="display: none" src="/static/poopimages/t4.jpg">
  </div>  

  <div class="poop_img" id="t5">
    <h1>Type 5</h1>
   <input style="display: none" type="radio" name="type" value="5">
    <img style="display: none" src="/static/poopimages/t5.jpg">
  </div>  

  <div class="poop_img" id="t6">
    <h1>Type 6</h1>
   <input style="display: none" type="radio" name="type" value="6">
    <img style="display: none" src="/static/poopimages/t6.jpg">
  </div>  

  <div class="poop_img" id="t7">
    <h1>Type 7</h1>
   <input style="display: none" type="radio" name="type" value="7">
    <img style="display: none" src="/static/poopimages/t7.jpg">
  </div>  


    <div>
        <p>Additional Comments:</p>
        <textarea id="comment" name="comment"></textarea>
    </div>
    
    <input type="submit" name="Submit" id="submit_button">

</form>


</div>


<div style="width:75%" class='container'>
<canvas id="myChart" width="600" height="400"></canvas>
<p id="caption">This chart is displaying your poop data. Poop away!</p>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">

// do not resize chart canvas (keep at 600x400)
// Chart.defaults.global.responsive = false;
// make ajax call 

//get scatter ID
// let ctx = document.getElementById('myChart').getContext('2d');

//ctx == context

// let scatterChartData = {
//       datasets: [{
//         label: 'My First dataset',
//         borderColor: window.chartColors.red,
//         backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
//         data: [{
//           x: -5,
//           y: 10
//         }, 

let ctx = document.getElementById('myChart').getContext('2d');


// function getUserData(data){
//     console.log(data);

//     // make post/ajax request, sending new poop entry to /route
//     // at callback function, make get/ajax request to get data
//     // then at that callback from ajax, start parsing for graph/chart

//     $.get("/data", function(data){

          
  
  
//     });
// }

// function submitData(evt) {
//     //stop default reload from happening
//     evt.preventDefault();

//     //store form data in dict
//     //'input[name=type]:checked' matches selected
//     //element in radio form and get value
//     let formInputs = {
//         // "type": $("#submit_form").val(),
//         'type': $('input[name=type]:checked').val(),
//         'comment': $("#comment").val()
        
//     };
//     //verify value
//     console.log(formInputs);

//     //send data to route which will create new event
//     //data comes from formInputs
//     //callback function
//     $.post("/user_account", 
//          formInputs,
//          function(result){
//           alert(result);
//          });
// }

//get data on /data route in server.py
let getData = $.get("/data");

//once get request finishes, call function and pass data as results param
getData.done(function(results){

  dictResults = results.data;
  
  for (let keyValue of dictResults){
    let date = keyValue.x
    console.log(date);
    // keyValue.x = moment(date).format("MMMM DD, YYYY");
    keyValue.x = moment(date,"MMMM DD, YYYY").toDate();
    console.log(keyValue);
  }; 

   console.log("print final dictResults")
   console.log(dictResults);
  
  let myChart = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: 'Scatter Dataset',
            data: dictResults
            
        }]
    },
    options: {
        responsive: true,
        hoverMode: 'single',  //should always use single for scatter chart
        scales: {
            xAxes: [{
                type: 'time',
                position: 'bottom'
            }]
        }
    }
});


});


// event listener on form instead of button
// get radio data and pass to callback function
$("#submit_form").on("submit") //removed submitData callback

</script>

<script type="text/javascript" src="/static/user_account.js"></script>

{% endblock %}

